@tailwind base;
@tailwind components;
@tailwind utilities;
/* .menu{
    display: flex;
    justify-content: space-between;
} */

.container-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-img{
    width: 440px;
height: 414px;
}
.banner-title {
    font-size: 52px;
font-style: normal;
font-weight: 700;
line-height: 70px; 
color: #3A3A3A;

}
.banner-ionfo{
    font-size: 16px;
font-style: normal;
font-weight: 600;
width: 580px;
}
.banner-descrioption {
    width: 580px;
}
