*{
    box-sizing: ;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 1000px;
    background-color: rgb(51, 153, 82);
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-70{
    flex-basis: 70%;
    /* flex: 0 0 70%; */
    background-color: red;
}
.col-50{
    flex-basis: 50%;
    /* flex: 0 0 50%; */
    background-color: #fff;
}
.col-30{
    flex-basis: 30%;
    /* flex-basis: 0 0 30%; */
    background-color: blue;
}


