main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F3F1FF;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.players img{
    width: 20%;
    /* height: 50%; */
}
.player{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container{
    border-radius: 5px;
    background: #FFF;
    width: 100%;
height: 679px;
}
/* top blog styles--- */
.blog .thumbnail img{
    width: 224px;
height: 127px;
}
.blog{
    display: flex;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;

}
.blog-author{
  
    font-size: 16px;
}
.blog-author a{
   text-decoration: none;
   color: #562EFF;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
/* courses  */
.courses{
    display: flex;
    justify-content: space-evenly;
}
.course{
    width: 252.423px;
height: 269.786px;
}
.course-banner img{
    width: 266px;
height: 141px;
}
.course-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.star{
    color: #FFC014;
}
.alarm{
    /* width: 20.034px;
height: 20.034px; */
color: #FF4A60;

}
.time{
    display: flex;
    align-items: center;
}