body{
    margin: 0;
    padding: 0;
}
.menu-area {
    display: flex;
   justify-content: space-evenly;
    
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60%;
}
.menu-area ul{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;

}
.menu-area ul li{
    list-style: none;
    margin-left:  10%;
}
.menu-area ul li a{
    text-decoration: none;
}