@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0px;
    margin: 0px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #b1acac;
    color: white;
}
.items{
    list-style: none;
    display: flex;
   
}
.item{
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    margin-right: 12px;
}
/* banner-part */
.banner-container{
    width: 100%;
    height: 100vh;
    background-image: url("./asset/image/background.jpg");
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.banner-title{
    font-size: 80px;
    color: white;
    font-weight: bold;
}
.primary{
    color: rgb(219, 26, 26);
}
.secoundary{
    color: white;
}
.banner-container p{
    color: white;
    width: 50%;
  margin: auto;
  padding: 10px;
}
.btn{
    padding: 15px 30px;
    font-size: 14px;
    font-weight: bold;
    border: none;
}
.btn-discover{
  
    background-color: red;
    color: white;
   
}
.btn-hire {

    background-color:white;
    color: rgb(0, 0, 0);
  
    /* display: flex; */
}
/* services-container part*/
.services-container{
    background-color: rgb(2,2,2 );
    background-image: url(./asset/image/footer-bg.png);
    width: 100%;
    height: 100vh;
    display: flex;
    background-blend-mode: overlay;
    color: white;
}

/* .more-details{
    background-color:white;
    color: rgb(0, 0, 0);
  
} */
.services{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
}
.services img{
    width: 90%;
}
.service{
    box-shadow: 4px 4px 8px rgb(26, 24, 24);
    color: black;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    width: 200px;
    height: 200px;
    margin-right: 15px;
    background-color: white;
    margin-top: -50px;
}
/* left div */
.services-info{
    margin-top: 20px;
    margin-left: 20px;
    /* display: flex; */
}
.author-info{
    display: flex;
}
.srvice-btn{
    border-radius: 20px;
    margin-bottom: 20px;
}
.author{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  
}
.author img{
    width: 25%;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
}
.list{
    padding: 10px;
    margin-left: 20px;
}
/* appointment-icon */
.appointment{
    display: flex;
    background-color: red;
    color: white;
    width: 80%;
    border-radius: 10px;
  margin: auto;
  padding: 20px;
  margin-top: -70px;

}
.call-icon{
    width: 90px;
}
.phone-call{
    display: flex;
    align-items: center;
    /* border-right: 1px red; */
}
/* blog section */
.blog-container{
    margin-left: 20px;
}
.blog-title{
    text-align: center;
    font-size: 40px;
  font-weight: 50px;
  padding: 20px;
}
.blog-info{
    text-align: center;
    font-size: 20px;
  padding-bottom: 50px;
}
.blog{
    width: 300px;
    height: 430px;
    background: white;
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}
.blog img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding-bottom: 10px;
}
.blogs{
    display: flex;
    justify-content: space-evenly;
}